*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: Array;
    src: url("/src/assets/Font/Array-Regular.ttf");
}
@font-face {
    font-family: Arrayy;
    src: url("/src/assets/Font/Khand-Regular.ttf");
}

.Land{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,var(--bg-0),var(--bg-1));
    padding: 20px;

#content1{
    width: 100%;
    height: 100%;
    // background-color: wheat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px;
#box1{
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    background-image: url(https://images.unsplash.com/photo-1470224114660-3f6686c562eb?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFya2luZ3xlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

h1{
    font-family: Array;
    color: var(--text);
    font-size: 4.8rem;
   font-weight: 600;
}
}
#box2{
    width: 100%;
    height: 50vh;
    background: var(--card);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

h4{
    font-family:Arrayy;
    font-size: 2.3rem;
    font-weight: 900;
}
p{
    text-align: justify;
    font-family: Arrayy;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 300;
}
button{background:linear-gradient(90deg,var(--accent-1),var(--accent-2));padding:10px 40px;border-radius:10px;color:#fff;border:0}
}
}
}