/* NAVBAR */
#Nav {
  width: 100%;
  padding: 10px 0;
 position:fixed;
 color: antiquewhite;
 backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

